<!-- 
#  Appdev Label Info:
#label_context:opstool-FCFActivities
#language_code:en
-->
<!--Image Name-->
               
<div class="img-responsive fcf-image-embed"  opimage-url="<%= data.image %>">
	<img class="img-responsive" src="<%= data.image %>" alt="Responsive image" style="width:50%; height:50%;" >
</div>
<!--/Image Name-->
