

.fcf-list-rowH4 {
    margin-top: 4px;
}

.fcf-list-image {
    margin-right: 5px;
}

.fcf-tag {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
/*    display: block;  */
/*    font-size: 13px; */
    line-height: 1.42857;
/*    margin: 0 0 10px; */
    padding: 2.5px;
    word-break: break-all;
    word-wrap: break-word;
}

.fcf-tag-selected {
    background-color: #d9edf7;
}


.fcf-team-list tr.selected,
.fcf-activity-list tr.selected {
    background-color: #d9edf7;
}



.fcf-activity-report-activities,
.fcf-activity-report-activity-images,
.fcf-activitiy-people-objects {
    overflow:auto;
}


/*.fcf-activity-list-item,
.fcf-activity-image-list-item {
    height: 100px;
}
*/

.fcf-activity-list-image {
    margin-right: 20px;
}



/* The css for the list of ppl in the People Tagger */

.fcf-activity-people-objects {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #eee;
    border-radius: 3px;
    color: #333;
    cursor: default;
    white-space: nowrap;
}



.dropzone .fcf-activity-icon-picture {
    background-color: transparent;
    background-image: url("/images/icon_picture_activity.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100px;
    border: 1px solid transparent;
    min-height: 100% !important;
    opacity: 0.5;
    position: relative;
    width: 100% !important;

}



body {
	margin: 0;
	padding: 0;
	background-color: #3c766a !important;
}

* {outline:none}


.align-right { text-align: right; }

.blue-wrap {
	background-color:#1f6b8d;
	padding: 10px 15px;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;	
	-webkit-box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
}

#pagination {
	color:#fff;
	
	}

.opsportal-container-masthead {
	color:#fff;
/*	margin-bottom:20px; */
	background-color:#404040 !important;
	-webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.3);	
	
	}

.menulink {
	color:#58cbf7;
	font-size:20px;
	text-align:right;
}

.menulink a{ line-height:89px;}
.menulink a:hover {color:#be5400;}
.menulink a:focus{color:#be5400;}

#content, .inner-add-activity, .innner-content {
	margin-bottom:20px;
	padding-bottom:20px;
	background-color: #bbd3d7;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);		
}

#content { overflow:hidden;}

/*Page 3 Style*/

/*Styles FCF Activities Page 3*/

.imgleft {
	border-bottom:#0071be 2px solid;
	overflow:hidden;
	cursor:pointer;
	}
	
.imgleft .row div:nth-child(3) {
	text-align:right;
	padding-right:0;
}
	
.imgleft img{width:100%;}	
	
.imgleft .row{padding-top:15px;padding-bottom:10px}	

.imgleft p{font-size:13px;}

.imgleft .rowselected { background-color:#FBFBFB;}

.imgleft p:first-child {
	margin-bottom:15px;
	font-weight:bold;
}

.img-upload {
	width: 100%;
	background-color: #81b8d7;	
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.42);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.42);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.42);
	border:#1d678c dashed 5px;
	
	line-height:250px;
	font-size:25px;
	text-align:center;
	color:#1d678c
}

.img-upload img {width:100%; height:100%;}

#uploaded-img {
	margin-bottom:20px;
	padding-bottom:20px;
	background-color: #dfe7ea;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);		
}

.img-upload:hover {border:#0071be dashed 5px;color:#0071be}

#profile-list li {
	font-size:12px; 
	border:none !important;
	float:left;
	margin: 0 4px 10px;
	overflow:hidden;
	width:48%;
}

#profile-list li img {margin-right:7px;float:left}

#profile-list {
	padding-bottom:20px;
	padding-top:10px;
	margin-bottom:20px;
	background-color: #dfe7ea;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.42);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.42);
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.42);	
	}

#profilelist-scroll ul {list-style:none; list-style-type:none;padding:0;margin:0}

#profilelist-scroll ul li {margin-bottom:10px;}

#profilelist-scroll div {padding-left:6px !important; padding-right:6px !important;}

#profilelist-scroll {height: 282px;overflow-y: auto;}

#profilelist-scroll .fixed-table-header {display:none;}

#profilelist-scroll .fixed-table-container {border:none;}	
	
#profile-list table { background-color:transparent !important;}	
	
#dc .form-group input {width: 100% !important;}
	

/*Scroll Bar on page 3*/		
#lc-activity {
	max-height:680px; 
	overflow-y:scroll !important;

}

#lc-activity::-webkit-scrollbar, #upload-scroll::-webkit-scrollbar, #profilelist-scroll::-webkit-scrollbar, #confirm-step-scroll::-webkit-scrollbar {
    width: 12px;
}

#lc-activity::-webkit-scrollbar-track, #upload-scroll::-webkit-scrollbar-track, #profilelist-scroll::-webkit-scrollbar-track, #confirm-step-scroll::-webkit-scrollbar-track {
    background-color: #57b4ef;
    border-left: 1px solid #ccc;
    border-radius: 20px;
}
#lc-activity::-webkit-scrollbar-thumb, #upload-scroll::-webkit-scrollbar-thumb, #profilelist-scroll::-webkit-scrollbar-thumb, #confirm-step-scroll::-webkit-scrollbar-thumb {
    background-color: #cf7342;
    border-radius: 20px;
}

#lc-activity::-webkit-scrollbar-thumb:hover, #upload-scroll::-webkit-scrollbar-thumb:hover, #profilelist-scroll::-webkit-scrollbar-thumb:hover, #confirm-step-scroll::-webkit-scrollbar-thumb:hover {
	background-color: #b35422;
}

#upload-scroll {max-height:530px; overflow-y:scroll !important;}
#confirm-step-scroll {max-height:500px; overflow-y:scroll !important }

.imgleft col-md-5 img, .imgleft .col-md-4 img {width:100%}
.imgmid col-md-5 img, .imgmid .col-md-4 img {width:100%}

@media (min-width: 1200px) {
	
}

@media (max-width: 578px) {
	.menulink a {font-size:19px;}
}


/*Overlap the CSS opsportal here*/

#fcf-activity-image-upload {
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding: 0px;
	height:150px; /*Fixed Width for the Container of DropZone*/
/*	width:331px; Fixed Height for the Container of DropZone*/
}


.opsportal-area-tool-FCFActivities {
	margin-top: 20px;
}

/* update the selectivity z-index to be under the date picker */
.selectivity-backdrop {
	z-index:9 !important;
}
